# Практика по Pandas. Зимин Илья

### Импорты

In [ ]:
import pandas as pd

### Считывание

In [ ]:
df = pd.read_csv('titanic.csv')

print(df)

     PassengerId  Survived  Pclass  ...     Fare Cabin  Embarked
0              1         0       3  ...   7.2500   NaN         S
1              2         1       1  ...  71.2833   C85         C
2              3         1       3  ...   7.9250   NaN         S
3              4         1       1  ...  53.1000  C123         S
4              5         0       3  ...   8.0500   NaN         S
..           ...       ...     ...  ...      ...   ...       ...
886          887         0       2  ...  13.0000   NaN         S
887          888         1       1  ...  30.0000   B42         S
888          889         0       3  ...  23.4500   NaN         S
889          890         1       1  ...  30.0000  C148         C
890          891         0       3  ...   7.7500   NaN         Q

[891 rows x 12 columns]

### 1. Какое количество мужчин и женщин ехало на корабле?

In [ ]:
total = len(df.index)

male_count = len(df[df.Sex == 'male'])

print(male_count, total - male_count)

577 314

### 2. Какой части пассажиров удалось выжить?

In [ ]:
print('%.2f' % (100 / total * len(df[df.Survived == 1])))

38.38

### 3. Какую долю пассажиры первого класса составляли среди всех пассажиров?

In [ ]:
print('%.2f' % (100 / total * len(df[df.Pclass == 1])))

24.24

### 4. Какого возраста были пассажиры? Среднее и медиана

In [66]:
df.fillna(0, inplace=True)
data = df.Age.describe()

print('%.2f %.2f' % (data['mean'], data['50%']))

23.80 24.00

### 5. Коррелируют ли число братьев/сестер/супругов с числом родителей/детей?

In [ ]:
df[['SibSp', 'Parch']].corr(method="pearson")

          SibSp     Parch
SibSp  1.000000  0.414838
Parch  0.414838  1.000000

### 6. Дополнительно. Самое популярное женское имя

In [65]:
freq = {}
women = df[df.Sex == 'female'].Name
for woman in women:
  name = woman.split('.')[1].strip()
  if name.startswith('of'):
    name = name[2:].strip()
  if name.startswith('('):
    name = name.split(')')[0][1:]
  else:
    name = name.split('(')[0].strip().split('"')[0].strip()
  freq[name] = 1 if name not in freq else freq[name] + 1
  
print(sorted(freq.items(), key=lambda pair: (pair[1]))[-1][0])

Mary